<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Peso Ideal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='outer-content'>
  <ion-input id='sexo'>Digite seu sexo M(1) F(2): </ion-input>
  <ion-input id='altura'>Digite sua altura (m): </ion-input>
  <ion-button (click)="Teste()">Enviar</ion-button><br>
  <ion-label>O seu peso ideal é: </ion-label>
  <ion-label id='resultado'></ion-label>

</ion-content>

